.body-contactos {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('imagenes/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
}

.form-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 1);
}
footer {
    margin-top: auto;
}

/* Asegura que el main no tenga desbordes */
main.flex-grow-1 {
    overflow: hidden;
}

